@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

:root {
	--user-manager-dropdown: #0092ff;
}

/* width */
::-webkit-scrollbar {
	width: 8px !important;
}

/* Track */
::-webkit-scrollbar-track {
	background: #dbdbdb;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(0, 16, 246) !important;
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.Homepage {
	padding: 0 5em;
	font-size: 16px;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

/* ---------GLOBAL--------- */
.btn {
	outline: none;
	border: none;
	cursor: pointer;
}

/* ------navbar------- */
.navbar {
	flex-basis: 10%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em 0;
}

.navbar .search-box {
	flex: 2;
	display: flex;
	justify-content: center;
}

.search-box .input {
	width: 80%;
}

.users,
.logo {
	flex: 1;
}

.users {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.users .cart-item {
	position: relative;
}

.users .cart-qty {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: -11px;
	left: 12px;
	background-color: #f55454;
	color: #fff;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	font-size: 13px;
	font-family: "Roboto", sans-serif;
	font-weight: 600;
}

.users .personalize {
	flex-basis: 70%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-left: 3em;
	position: relative;
}

.user-manager {
	content: "";
	position: absolute;
	top: 100%;
	width: 100%;
	height: fit-content;
	background-color: var(--user-manager-dropdown);
	list-style-type: none;
	border-radius: 5px;
	margin-top: 1em;
	box-shadow: 1px 1px 10px 0.5px #b6b6b6;
	opacity: 0;
	visibility: hidden;
	transform: scaleY(0);
	transform-origin: 0% 0%;
	transition: all 0.35s;
}

.user-manager::after {
	content: "";
	position: absolute;
	top: -7.5px;
	right: calc(80%);
	transform: rotateZ(45deg);
	width: 15px;
	height: 15px;
	background-color: var(--user-manager-dropdown);
	z-index: -1;
}

.user-manager.open {
	visibility: visible;
	opacity: 1;
	transform: scaleY(1);
}

.user-manager li {
	display: flex;
}

.user-manager li:hover > .manager-on-hover {
	opacity: 1;
}

.manager-on-hover {
	width: 5px;
	background-color: rgb(0, 0, 0);
	opacity: 0;
}

.user-manager .manager-wrapper {
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
	padding: 1em;
	color: #fff;
	position: relative;
	cursor: pointer;
}

.user-manager li:not(:last-child) {
	border-bottom: 1px solid #f5f5f5;
}

.user-manager li a {
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
	color: #fff;
	width: 100%;
	margin-right: 16px;
	font-size: 15px;
}

.personalize img {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	object-fit: cover;
	cursor: pointer;
}

.personalize img:hover + .greeting {
	text-decoration: underline;
}

.personalize > span {
	width: 100%;
	text-align: left;
	margin-left: 16px;
}

.personalize #username {
	font-weight: 600;
}

/* -----------BOOK-SHELF----------- */
.book-shelf {
	flex: 1;
	display: flex;
	justify-content: space-between;
	margin-top: 2em;
}

.book-genres {
	flex-basis: 19%;
}

.genres-inner {
	display: flex;
	flex-direction: column;
	height: fit-content;
	border-right: 1px solid #bebebe;
}

.criteria:not(:first-child, :last-child) {
	margin: 1.5em 0;
	padding: 0;
}

.criteria:last-child > li:last-child {
	margin-bottom: 0;
}

.criteria li {
	list-style-type: none;
}

.criteria li:not(.criteria-header) {
	color: #666666;
	font-size: 15px;
	margin: 1em 0;
	cursor: pointer;
}

.criteria li:hover:not(.criteria-header) {
	text-decoration: underline;
}

.criteria .criteria-header {
	font-weight: 600;
	margin-bottom: 1.5em;
}

.book-lists {
	flex: 1;
	padding-left: 32px;
	padding-bottom: 1em;
}

.function-bar {
	display: flex;
	justify-content: flex-end;
}

.display-buttons {
	display: flex;
	align-items: center;
	border: 1px solid #ececec;
	/* border-radius: 30px; */
	font-size: 14px;
	cursor: pointer;
}

.display-icon {
	margin: 10px 12px !important;
}

.display-buttons div {
	height: 100%;
	width: 1px;
	background-color: #ececec;
}

.books {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 32px;
	justify-content: space-between;
	padding-top: 1em;
	margin-bottom: 3em;
	box-sizing: border-box;
}

/* ---------BOOK_ITEM------- */

.BookItem {
	display: flex;
	width: 100%;
	border: 1px solid #bebebe;
	border-radius: 10px;
}

.book-thumbnail {
	width: 180px;
	height: 100%;
	border-radius: 10px;
}

.book-info {
	flex: 2;
	display: flex;
	flex-direction: column;
	padding: 16px 15px 16px 25px;
}

.title {
	font-weight: 600;
}

.publisher {
	font-weight: 500;
	color: #797979;
	font-size: 14px;
}

.evaluation {
	width: fit-content;
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 0 0 1em 0;
	padding: 0;
}

.evaluation li {
	color: #dee0e2;
}

.evaluation li:not(:first-child, :last-child) {
	margin: 0 3px;
}

.evaluation li:first-child {
	margin-right: 3px;
}

.evaluation li:last-child {
	margin-left: 3px;
}

.bright {
	color: #fc9f22;
}

.price {
	color: #5baa2d;
	font-weight: 600;
	width: fit-content;
	font-size: 15px;
}

.price:hover {
	color: red;
}

.rent-wishlist {
	display: flex;
	align-items: center;
}

.rent {
	background-color: #2b3134;
	border-radius: 25px;
	padding: 0.9em 2em;
	color: #fff;
	display: flex;
	align-items: center;
	font-size: 15px;
	font-weight: 600;
}

.wishlist {
	color: #dee0e2;
	margin-left: 1em !important;
	cursor: pointer;
}

.wishlist:hover {
	color: #fe5051;
}

.love {
	color: #fe5051 !important;
}

/* -----------BOOK-SHELF ENDS----------- */

/* --------------PAGINATION--------------- */

.pagination {
	display: flex;
	justify-content: center;
}

.pagination button {
	font-size: 16px;
}

/* --------------PAGINATION ENDS--------------- */
