# dependencies
/fe/node_modules
/BE/node_modules
/fe/.pnp
/fe/.pnp.js

# testing
/fe/coverage

# production
/fe/build

# misc
/fe.DS_Store
/fe/.env.*

/BE/.env.*

/fe/npm-debug.log*
/fe/yarn-debug.log*
/fe/yarn-error.log*
